.runs {
  display: list-item;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}


.run {

    width: 100%;
    margin: 15px;
    height: 50px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #202020bb;
    transition-duration: 0.3s;

  &-name {
    color: #fff;
    font-weight: 700;
    margin-left: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-time {
    color: #fff;
    font-weight: 700;
    margin-left: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}