<div class="details">
  <div class="game-banner">
    <img
      class="game-banner-img"
      src="{{ game?.background_image }}"
      alt="background image"
    />
  </div>
    <div class="game-content">
      <div class="details-wrapper">
        <div class="game-header">
          <h1 class="game-header-title">{{ game?.nome }}</h1>
          <h2 class="game-header-release-date">
            Release: {{ game?.lancamento }}
          </h2>
          <p class="game-header-genres">
            <span *ngFor="let genre of game?.generos; let last = last"
            >{{ genre }}<span *ngIf="!last">, </span></span
          >
          </p>
        </div>
      <div class="game-tabs"> 
        <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
          <mat-tab label="About">
            <p *ngIf="game?.nome" class="game-tabs-par">
              Plataforma:
              <span>{{ game.plataforma }}</span
              >
            </p>
            <p *ngIf="game?.nome" class="game-tabs-par">
              Desenvolvedora:
              <span>{{ game?.desenvolvedora }}</span
              >
            </p>
          </mat-tab>
          <mat-tab label="Runs">
            <ng-container *ngFor="let run of runs.getRunsByGameId(gameId)">
              <div class="run">
                <div class="run-description">
                  <p class="run-name">{{ run.usuario.nome }}</p>
                  <p class="run-time">{{ run.tempo }}</p>
                </div>
              </div>
            </ng-container> 
        </mat-tab>
      </mat-tab-group>
      </div>
    </div>
  </div>
</div>